@import '../sprite/generated/sprite.scss';

$pixelRatio: 2;

@mixin sprite-icon-common {
    width: calc($spritesheet-width/ $pixelRatio);
    height: calc($spritesheet-height/ $pixelRatio);
    background-image: url('../img/' + $spritesheet-image);
    background-size: (calc($spritesheet-width/ $pixelRatio))
        (calc($spritesheet-height/ $pixelRatio));
}

@mixin sprite-icon-width($sprite) {
    width: calc(nth($sprite, 5) / $pixelRatio);
}

@mixin sprite-icon-height($sprite) {
    height: calc(nth($sprite, 6) / $pixelRatio);
}

@mixin sprite-icon-position($sprite) {
    $sprite-offset-x: calc(nth($sprite, 3) / $pixelRatio);
    $sprite-offset-y: calc(nth($sprite, 4) / $pixelRatio);

    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-icon-icon($sprite) {
    @include sprite-icon-position($sprite);
    @include sprite-icon-width($sprite);
    @include sprite-icon-height($sprite);
}
